services:

  database:
    image: postgres:latest
    environment:
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 10s
      retries: 5
    volumes:
      - db-data:/var/lib/postgresql
    networks:
      - app-network
    restart: unless-stopped

  rabbitmq:
    image: rabbitmq:3.8-management
    ports:
      - "${RMQ_PORT}:5672"
      - "15672:15672"
    networks:
      - app-network
    environment:
      RABBITMQ_DEFAULT_USER: "${RMQ_USER}"
      RABBITMQ_DEFAULT_PASS: "${RMQ_PASS}"
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    restart: unless-stopped

  prestart:
    build:
      context: ./backend
    depends_on:
      database:
        condition: service_healthy
    networks:
      - app-network
    env_file:
      - .env
    command: bash scripts/prestart.sh
    environment:
      - DB_PORT=5432


  celery:
    build:
      context: ./backend
    depends_on:
      database:
        condition: service_healthy
      prestart:
        condition: service_completed_successfully
    env_file:
      - .env
    command: celery -A app.celery_app.celery_app worker -l INFO
    networks:
      - app-network
    environment:
      - DB_PORT=5432


  flower:
    build:
      context: ./backend
    depends_on:
      database:
        condition: service_healthy
      prestart:
        condition: service_completed_successfully
    env_file:
      - .env
    ports:
      - "5555:5555"
    command: celery -A app.celery_app.celery_app flower
    networks:
      - app-network
    environment:
      - DB_PORT=5432


  backend:
    build:
      context: ./backend
    depends_on:
      database:
        condition: service_healthy
      prestart:
        condition: service_completed_successfully
    env_file:
      - .env
    ports:
      - "3541:8080"
    networks:
      - app-network
    environment:
      - DB_PORT=5432

volumes:
  db-data:
  rabbitmq-data:

networks:
 app-network:
    driver: bridge